<app-banner></app-banner>
<p-card class="teacher-header">
    <h1 class="teacher-title">Gerenciar Professores</h1>

    <div class="teacher-search">
        <p-autoComplete class="search-input" field="name" />
        <i class="pi pi-search search-icon"></i>
    </div>

    <div class="divider"></div>

    <div class="add-teacher" (click)="showModal = true">
        <i class="pi pi-user-plus"></i>
        <span>Adicionar Professor</span>
    </div>

    <app-new-teacher-modal [(visible)]="showModal" />
</p-card>

<p-card class="teacher-list-card">
    <p class="teacher-list-title">4 professores</p>
    <div class="teacher-list">
        <div class="teacher-item">
            <div class="avatar" style="background-color: #c6c2ff; color: #3C3489;">AM</div>
            <span class="teacher-name">Ana Martins</span>
            <span class="teacher-modalities">Judô</span>
            <i class="pi pi-chevron-right"></i>
        </div>
        <div class="teacher-item">
            <div class="avatar" style="background-color: #c6c2ff; color: #3C3489;">CS</div>
            <span class="teacher-name">Carlos Souza</span>
            <span class="teacher-modalities">Futsal</span>
            <i class="pi pi-chevron-right"></i>
        </div>
        <div class="teacher-item">
            <div class="avatar" style="background-color: #c6c2ff; color: #3C3489;">CS</div>
            <span class="teacher-name">Bruna Lima</span>
            <span class="teacher-modalities">Vôlei</span>
            <i class="pi pi-chevron-right"></i>
        </div>
        <div class="teacher-item">
            <div class="avatar" style="background-color: #c6c2ff; color: #3C3489;">CS</div>
            <span class="teacher-name">Carla Dias</span>
            <span class="teacher-modalities">Natação</span>
            <i class="pi pi-chevron-right"></i>
        </div>
    </div>
</p-card>

<app-footer></app-footer>