<app-navbar-desktop-admin></app-navbar-desktop-admin>

<app-banner></app-banner>

<div class="card-container">
    <p-card>

        <h1 class="title-teacher">Professores</h1>

        <div class="search-teacher-container">
            <input pInputText type="text" placeholder="Buscar..." aria-label="Buscar professor" />

            <button pButton aria-label="Novo professor" (click)="openNew()">
                <i class="pi pi-plus"></i>
            </button>
        </div>

        <ul class="teacher-list">

            @for (teacher of teachers; track teacher.id) {

            <li class="teacher-item">

                <div class="teacher-info">

                    <div class="teacher-title">
                        <strong>{{ teacher.name }}</strong>
                    </div>

                    <span class="teacher-modality">
                        Modalidade: {{ teacher.modality }}
                    </span>

                </div>

                <div class="teacher-actions">

                    <button pButton size="small" [text]="true" [rounded]="true" aria-label="Editar professor"
                        (click)="edit(teacher)">
                        <i class="pi pi-pencil"></i>
                    </button>

                    <button pButton size="small" [text]="true" [rounded]="true" severity="danger"
                        aria-label="Excluir professor" (click)="delete(teacher)">
                        <i class="pi pi-trash"></i>
                    </button>

                </div>

            </li>

            }

        </ul>

    </p-card>

</div>

<app-new-teacher-modal [(visible)]="showModal"> </app-new-teacher-modal>

<app-footer></app-footer>