<nav class="navbar-admin">
    <figure class="navbar-logo">
        <img src="../../../assets/images/logo.png" alt="Logo">
    </figure>

    <div class="navbar-right">
        <ul class="navbar-links">
            <li><a routerLink="/home" routerLinkActive="active">INICIAL</a></li>
            <li><a routerLink="/esportes" routerLinkActive="active">ESPORTES</a></li>
            <li><a routerLink="/perfil" routerLinkActive="active">PERFIL</a></li>
        </ul>

        <button type="button" class="menu-toggle-btn" [class.active]="isMenuOpen()" (click)="toggleMenu()">
            <i class="pi pi-bars"></i>
        </button>

        <button pButton type="button" label="LOGIN" icon="pi pi-user" routerLink="/login"
            class="navbar-login-btn"></button>
    </div>

    @if (isMenuOpen()) {
    <div class="admin-submenu">
        <a routerLink="/manage-teachers" class="submenu-pill">Cadastrar Professores</a>
        <a routerLink="/manage-admin" class="submenu-pill">Gerenciar Administradores</a>
        <a routerLink="/manage-modalites" class="submenu-pill">Gerenciar Modalidades</a>
        <a class="submenu-pill">Gerenciar Alunos</a>
        <a class="submenu-pill">Relatórios</a>
        <a class="submenu-pill">Mapa de Calor</a>
    </div>
    }
</nav>