@use '../../../../../styles/breakpoints.scss' as *;

.classes-page {
    padding: 5rem 1rem 2rem 1rem;
    margin-top: 4rem;

    @include xl {
        margin-top: 2rem;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}


.page-header {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 0.875rem;

    .pi-arrow-left {
        font-size: 1.5rem;
        color: var(--color-text-primary);
        cursor: pointer;
    }
}

.modality-icon {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    i {
        font-size: 1.3rem;
    }
}

.modality-name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.modality-meta {
    margin: 0;
    font-size: 1rem;
    color: var(--color-text-secondary);
}


.classes-list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    @include xl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

.class-card {
    padding: 0.75rem;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border-strong);
    border-radius: 0.75rem;
    cursor: pointer;
}

.class-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .class-name {
        margin: 0;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--color-text-primary);
    }

    .pi-chevron-right {
        font-size: 1.3rem;
        color: var(--muted-text);
    }
}

.class-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.detail-row {
    display: flex;
    align-items: center;
    gap: 0.375rem;

    i {
        font-size: 1.2rem;
        color: var(--muted-text);
    }

    span {
        font-size: 1.3rem;
        color: var(--color-text-secondary);
    }
}

.empty-state {
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 1rem;
    padding: 1rem 0;
}


.add-class {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    border: 1.5px dashed var(--color-brand-secondary);
    border-radius: 0.625rem;
    padding: 0.75rem;
    margin-top: 0.75rem;

    &:hover {
        background-color: var(--gray-100);
    }

    i {
        font-size: 1.1rem;
        color: var(--color-brand-secondary);
    }

    span {
        font-size: 1;
        font-weight: 500;
        color: var(--color-brand-secondary);
    }
}